* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    height: 80px;
    /* background: #fdcc04; */
    background: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px)/2);
}

.logo {
    /* color: black; */
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

.logo i {
    margin-right: 10px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    /* color: black; */
    color: #fff;
    padding: 0 1.5rem;
}

nav a:hover {
    /* background: #fdcc04;
    color: #fff; */
    color: #8a8a8a
}

.Login {
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    /* color: black;
    background: #fce84c; */
    color: #fff;
    background: #8a8a8a;
    cursor: pointer;
    border-radius: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.Login:hover {
    /* background: #fce84c;
    color: #fff; */
    background: #8a8a8a;
    color: #313131;
}


.Signup {
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: #8a8a8a;
    /* background: #fce84c; */
    /* color: black; */
    cursor: pointer;
    border-radius: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.Signup:hover {
    /* background: #fce84c;
    color: #fff; */
    background: #8a8a8a;
    color: #313131;
}


.pharmacy {
    /* background: #fdcc04; */
    background: #5c9dff;
}

.pharmacy-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px)/2);
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    padding: 0rem 2rem;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.button {
    text-decoration: none;
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    /* color: #fdcc04; */
    color: #fff;
    background: black;
    cursor: pointer;
    border-radius: 50px;
}

.button:hover {
    background: #fff;
    color: #313131;
    /* color: black; */
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.pharmacy-image {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .pharmacy-container {
        grid-template-columns: 1fr;
    }
}

footer {
    text-align: center;
    padding: 10px 0;
    /* background-color: #fdcc04;
    color: black; */
    color: #fff;
    background: #313131;
}
